* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(88, 71, 71);
}

.start {
  padding: 3px;
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
}

.button {
  display: block;
  margin: 3px;
  padding: 3px;
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  background-color: aqua;
}

.start a {
  font-size: 1.5rem;
}
